This file is part of the repository of
Thomas Lemberger's public Jupyter notebooks:
https://gitlab.com/lemberger/jupyter-introduction

{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}

